.request-creation {
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--tg-viewport-stable-height, 100vh);
}

.bottom-navigation-area-container {
    width: 100%;
    border-top: 1px solid var(--gray-default);
    &__elements-area {
        padding: 25px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.page-main-area {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
    &__top-panel-area {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 20px 7px 20px;
        & h1 {
            font: var(--text-title);
            width: 100%;
            text-align: center;
            letter-spacing: 0.04rem;
        }
    }
    &__top-panel-wrapper {
        position: sticky;
        top: 0px;
        z-index: 10;
        background-color: var(--white-default);
        border-bottom: 1px solid var(--gray-default);
    }

    &__main-content-area {
        padding-top: 10px;
        overflow: hidden;
        flex-grow: 1;
        user-select: none;
        touch-action: pan-y;
        & img {
            pointer-events: none;
        }
    }
    &__stage-wrappper {
        flex-shrink: 0;
        overflow-y: scroll;
        width: 100%;
    }
    &__slide-track {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transition: all 0.2s ease;
        height: 100%;
    }
}

.date-select {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
    flex-shrink: 0;
    &__calendar-area {
        display: flex;
        flex-direction: column;
        font: var(--text-default);
        letter-spacing: 0.04em;
    }
    &__calendar-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.time-selection-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font: var(--text-default);
    letter-spacing: 0.04em;
    margin-bottom: 15px;
    & span {
        align-self: flex-start;
    }
    &__error-area {
        margin-top: 10px;
    }
}

.request-task {
    letter-spacing: 0.04rem;
    padding: 0 20px;
    flex-shrink: 0;
    &__task-image-area {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 12px;
        font: var(--text-default);
    }
    &__add-image-icon {
        padding: 10px;
        position: relative;
        & input {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0.1px;
            opacity: 0;
        }
    }
    &__add-image-icon-area {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
    }
    &__task-header-area {
        display: flex;
        gap: 5px;
        flex-direction: column;
        margin-top: 20px;
        font: var(--text-default);
    }
    &__task-description-area {
        display: flex;
        gap: 5px;
        flex-direction: column;
        margin-top: 20px;
        font: var(--text-default);
    }
    &__big-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 182px;
        height: 185px;
    }
    &__small-image-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        width: 90px;
        height: 185px;
    }
    &__error-wrapper {
        margin-top: 20px;
    }
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    & div {
        width: 100%;
    }
    &_small-gap {
        gap: 10px;
    }
}

.checkbox-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    & input {
        width: 16px;
        height: 16px;
        border-radius: 5px;
        border: 1px solid var(--black-default);
        box-sizing: border-box;
    }
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.small-logo-wrapper {
    width: 42.5px;
    height: 42.5px;
    & img {
        width: 100%;
        display: block;
    }
}

.full-size-image {
    width: 100%;
    position: relative;
    & img {
        display: block;
        width: 100%;
    }
}

.img-close-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -6px;
    right: -6px;
    & svg {
        width: 100%;
        height: 100%;
    }
    &_full-sized {
        top: 0px;
        right: 0px;
    }
}

.task-image {
    position: relative;
    &_big img {
        max-width: 180px;
        max-height: 185px;
    }
    &_small img {
        max-width: 90px;
        max-height: 90px;
    }
    &__zoom-icon {
        position: absolute;
        width: 16px;
        height: 16px;
        right: 2px;
        bottom: 2px;
        & svg {
            width: 100%;
            height: 100%;
        }
    }
}

.place-data {
    position: absolute;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    background-color: var(--white-default);
    padding: 5px 20px;
    border-top: 1px solid var(--gray-lighter);
    border-radius: 15px 15px 0 0;
    z-index: 10;
    gap: 5px;
    flex-shrink: 0;
}

.creation-final-stage {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    letter-spacing: 0.04rem;
    &__title {
        font: var(--text-default);
        margin-bottom: 10px;
    }
    &__order-date {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        & span {
            font: var(--text-default);
        }
    }
    & .request-task {
        padding: 0;
    }
    &__order-place {
        display: flex;
        flex-direction: column;
        gap: 5px;
        & span {
            font: var(--text-default);
        }
    }
}
.calendar__day-today .calendar__day-box {
    background-color: #06d6a0;
}
