.requests-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        width: 90px;
        height: 90px;
        background-color: #d9d9d9;
    }
    &__logo-area {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        gap: 30px;
    }

    &__button-area {
        padding-bottom: 40px;
    }

    &__text-area {
        width: 100%;
        max-width: 280px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font: var(--text-default);
    }
}
