.input {
    width: 100%;
    border: 1px solid var(--gray-lighter);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px 0 8px 15px;
    letter-spacing: 0.04rem;
    &::placeholder {
        color: var(--gray-lighter);
    }
    &_multi-line {
        min-height: 60px;
    }
    resize: none;
    height: auto;
    overflow-y: hidden;
}

.options-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font: var(--text-default-bigger);
}
