.button {
    color: var(--black-full);
    background-color: transparent;
    border: 1px solid var(--black-default);
    letter-spacing: 0.04rem;
    border-radius: 15px;
    padding: 15px 8px;
    display: inline;
    width: 100%;
    font: var(--text-button-default);
    &_small-rounded {
        border-radius: 10px;
    }
    &_small-text {
        font: var(--text-input);
    }
    &_yellow {
        background-color: var(--yellow-default);
    }
    &_green {
        background-color: var(--green-default);
    }
    &_gray {
        background-color: var(--gray-default);
    }
    &_red {
        background-color: var(--red-default);
    }
    &_big-padding {
        padding: 15px 40px;
    }
    &_disabled {
        background-color: var(--gray-lighter);
    }
    &_linked {
        display: inline-block;
        width: auto;
    }
}
