.button {
    color: #252525;
    background-color: transparent;
    border: 1px solid #252525;
    border-radius: 15px;
    padding: 15px 40px;
    display: inline;
    width: 100%;
    font: var(--button-text);
    &_small-rounded {
        border-radius: 10px;
    }
    &_small-text {
        font: var(--text-input);
    }
}
